.main_title {
  margin: 0 !important;
  text-align: center !important;
  font-size: 4em !important;
  padding-bottom: 50px !important;
  color: #79cea1 !important;
  font-family: inherit !important;
}

.add-button {
  background: #79cea1 !important;
  padding: 16px 25px !important;
  color: #fff !important;
  box-shadow: none !important;
  margin-left: 10px !important;
}
.MuiFilledInput-root {
  background: transparent !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
}
.MuiInputBase-input.MuiFilledInput-input {
  -webkit-appearance: none !important;
}
.MuiFilledInput-underline:before {
  display: none !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

label#filled-basic-label {
  font-size: 12px !important;
}

.number_wrp {
  display: flex;
  justify-content: center;
}
.number_box {
  background: #ecf5f7;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
h3.result {
  color: #79cea1;
  font-size: 2em;
}
h3.equal {
  color: #ccc;
  font-size: 2em;
  margin: 0;
}
.MuiOutlinedInput-root {
  position: relative;
  border-radius: 4px;
  width: 150px;
  margin-right: 10px;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, 10px) scale(0.75) !important;
}
.PrivateNotchedOutline-legendLabelled-3 > span {
  display: none !important;
}
.MuiFormControl-root {
  width: 170px;
}

@media only screen and (max-width: 600px) {
  .MuiFormControl-root {
    width: 139px !important;
    margin: 15px 10px !important;
  }
  button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.add-button {
    display: block;
    margin: 0 auto !important;
    width: 94%;
  }
  .fir_inputs {
    width: 93% !important;
    margin: 0 auto 15px !important;
  }
}
